# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.local

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE specific files
.vscode/
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/
